.student-list table {
    width: 100%;
    border-collapse: collapse;
}

.student-list th, .student-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.student-list th {
    background-color: #FF0000;
    text-align: left;
}

.student-list tr:nth-child(even) {
    background-color: #f9f9f9;
}
